In [4]:
name = "Dedi"
age = 20
address, province = "Jl. Cibolang","7413412"
scorePython = 80.5
isMarried = False

print("Nama :",name)
print("Umur :",age)
print("Alamat :,address")
print("Nilai Pemograman :", scorePython)
print("Status Menikah :", isMarried)

Nama : Dedi
Umur : 20
Alamat :, address
Nilai Pemograman : 80.5
Status Menikah : False

In [6]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [22]:
#Casting atau Konversi Tipe Data
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="_")
#Konversi dari int ke (str,float,bool)
intToStr = str(age)
intToStr = float(age)
intToStr = bool(age)
print(strToInt,strToFloat,strToBool, sep="_")
#Konversi dari float ke (str,int,bool)
flootToStr = str(scorePython)
flootToInt = int(scorePython)
flootToBool = bool(scorePython)
print(flootToStr,flootToInt,flootToBool, sep="_")
#Konversi dari bool ke (int,float,str)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt,boolToFloat,boolToStr, sep="_")

7413412_7413412.0_True
7413412_7413412.0_True
80.5_80_True
0_0.0_False

In [23]:
city = "Semarang"
lenCity = len(city)
print(city [0])
print(city[lenCity-1])

S
g

In [19]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai Desimal :",desimal)
print("Nilai Desimal dari 0xff:",hexa)
print("Nilai Desimal dari 0b1010:",biner)
print("Nilai Desimal dari 0o377:",octal)
print("===========")
print("Nilai Biner dari :",desimal, bin(desimal))
print("Nilai Octal dari :",desimal, oct(desimal))
print("Nilai Hexa dari :",desimal, hex(desimal))

Nilai Desimal : 200
Nilai Desimal dari 0xff: 255
Nilai Desimal dari 0b1010: 10
Nilai Desimal dari 0o377: 255
===========
Nilai Biner dari : 200 0b11001000
Nilai Octal dari : 200 0o310
Nilai Hexa dari : 200 0xc8

In [48]:
#Tipe Data Collection

cities = ["Sukabumi","Bandung","Bogor","Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Medan"
print(cities)
print(cities[len(cities)-1][0])

#Tauple
names = ("Andi","Budi","Caca")
print(names)
#names[0] = "Rudi" akan menyebabkan error, karena tuple adalah immutable

studentData= {
    "name" : "Dedi",
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "West Java"
    },
    "hobbies" : ["Basket","Football"],
    "age" : 23,
    "isMarried" : True
}

#List of Dictionary
listStudent = [
     {
    "name" : "Dedi",
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "West Java"
    },
    "hobbies" : ["Basket","Football"],
    "age" : 23,
    "isMarried" : True
},
    {
    "name" : "Dedi",
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "West Java"
    },
    "hobbies" : ["Basket","Football"],
    "age" : 23,
    "isMarried" : True
}
]

print(listStudent)
print(listStudent[0]["address"] ["province"]) #West Java
print(listStudent[1]) #Semua data dari Budi
print(listStudent[0] ["hobbies"] [1]) #Foot Ball - hobi dedi urutan ke 2
print(listStudent [0] ["age"]) #23 - Umur Dedi

['Sukabumi', 'Bandung', 'Bogor', 'Jakarta']
Sukabumi
Jakarta
['Sukabumi', 'Medan', 'Bogor', 'Jakarta']
J
('Andi', 'Budi', 'Caca')
[{'name': 'Dedi', 'address': {'street': 'Cisaat', 'number': 21, 'province': 'West Java'}, 'hobbies': ['Basket', 'Football'], 'age': 23, 'isMarried': True}, {'name': 'Dedi', 'address': {'street': 'Cisaat', 'number': 21, 'province': 'West Java'}, 'hobbies': ['Basket', 'Football'], 'age': 23, 'isMarried': True}]
West Java
{'name': 'Dedi', 'address': {'street': 'Cisaat', 'number': 21, 'province': 'West Java'}, 'hobbies': ['Basket', 'Football'], 'age': 23, 'isMarried': True}
Football
23

In [50]:
#Casting dictionary

list_tuple = [("name","Dika"),("nilai",80)]
dictStudent = dict(list_tuple)
print(dictStudent)

list_list = [["Buah","Apple"],["Harga",10000]]
dictBuah = dict(list_list)
print(dictBuah)

touple_touple = (("name","Dika","nilai",80))
dictStudent = dict(list_tuple)
print(dictStudent)

touple_list = [["Buah","Apple"],["Harga",10000]]
dictBuah = dict(list_list)
print(dictBuah)

keys = ["name","age","addres"]
values = ["Adi",20,"Bandung"]

dictData = dict(zip(keys,values))
print(dictData)

{'name': 'Dika', 'nilai': 80}
{'Buah': 'Apple', 'Harga': 10000}
{'name': 'Dika', 'nilai': 80}
{'Buah': 'Apple', 'Harga': 10000}
{'name': 'Adi', 'age': 20, 'addres': 'Bandung'}